/* NAVBAR */

.navbar-brand > a > h3 {
	color: #289892 !important;
}

a {
	color: #289892 !important;
}

/* TYPOGRAPHY */

.logo {
	font-family: 'Spirax', cursive;
}

html {
  font-family: 'Dosis', sans-serif;
}

body {
  font-family: 'Dosis', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

button,
input,
optgroup,
select,
textarea {
  font-family: 'Dosis', sans-serif;
}

.tooltip {
	  font-family: 'Dosis', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.popover {
	  font-family: 'Dosis', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* BACKGROUND */

.bg-primary {
	background-color: #289892;
}

/* CARD */

.card-img-top {
	max-height: 200px;
	object-fit: cover;
}